.containerQuery {
  width: 270px;
}

.titleQuery {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--gray-700);
  margin-bottom: 0.55rem;
}

.wrapperQuery {
  width: 270px;
  background-color: var(--white);
  border-radius: 0.25rem;
  padding: 0.85rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.contentQuery {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.55rem 0.55rem;
  border-bottom: 1px solid var(--gray-300);

  .query {
    display: flex;
    align-items: center;
    gap: 0.35rem;

    font-size: 0.85rem;
    font-weight: 400;
    color: var(--gray-300);
  }
  .namePerson {
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--gray-700);
    padding-left: 1.7rem;
  }
}

.scheduleButton {
  display: block;
  padding: 0.75rem;
  margin-top: 0.85rem;
  text-align: center;
  border: 1px solid var(--purple);
  border-radius: 0.25rem;
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--purple);
  transition: 0.2s;

  &:hover {
    background-color: rgba(115, 103, 240, 0.15);
  }
}